/* pages/cart/index.wxss */
.add_address{
    padding: 20rpx;
    
}
.userinfo{
    padding: 20rpx;
    display: flex;
    .user_info{
        flex: 3;
    }
    .phoneNumber{
        flex: 1;
    }
}
.my_address{
    padding-left: 20rpx;
}
