page{
    padding-bottom: 90rpx;
}
.root{
    .goodsSwiper{
        height: 60vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        .goodsItemSwiper{
            image{
              width: 70%;
            }
        }
    }
   
    .goods_price{
        color: var(--themeColor);
        font-size: 40rpx;
        padding-left: 20rpx;
        padding-top: 20rpx;
        padding-bottom: 20rpx;
    }
    .goods_tips{
        
        flex-direction: row; 
        display: flex;
        .goods_name{
            padding: 5rpx 20rpx;
            flex: 8;
            border-right: 2rpx solid darkgray;
        }
       
        .goods_collect{
            
            display: flex;
            flex: 2;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            image{
                width: 60rpx;
                height: 60rpx;
            }
        }
    }
    .goods_introduce{
        margin-top: 20rpx;
        margin-bottom: 20rpx;
        text{
            margin: 20rpx;
            color: var(--themeColor);
            font-size: 40rpx;
        }
        rich-text{
            margin-top: 20rpx;
        }
    }
    .bottom_tools{
        border-top: 1rpx solid #ccc;
        position: fixed;
        display: flex;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 90rpx;
        background-color: white;
        .contact_customer_service{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            justify-content: center;
            position: relative;
            button{
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
            image{
                height: 40rpx;
                width: 40rpx;
            }
            view{
                font-size: 15rpx;
            }
        }
        .share{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            justify-content: center;
            position: relative;
            button{
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
            image{
                height: 40rpx;
                width: 40rpx;
            }
            view{
                font-size: 15rpx;
            }

        }
        .cart{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            justify-content: center;
            position: relative;
            button{
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
            image{
                height: 40rpx;
                width: 40rpx;
            }
            view{
                font-size: 15rpx;
            }

        }
        .add_cart{
            display: flex;
            align-items: center;
            background-color:rgb(255, 163, 0);
            justify-content: center;
            text-align: center;
            flex: 3;
            view{
                font-size: 30rpx;
                font-weight: 600;
                background-color: transparent;
            }

        }
        .now_buy{
            display: flex;
            align-items: center;
            background-color: rgb(249,84,78);
            justify-content: center;
            text-align: center;
            flex: 3;
            view{
                font-size: 30rpx;
                font-weight: 600;
                background-color: transparent;
            }
        }
    }
}
